<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>SC11: 빈번한 CI 잡 - 하루 수십회 빌드 → 공격기간 빌드가 최근 20개 밖으로 밀려남 테스트</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://bitbucket.example.com/scm/TEAM-A/admin-web.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/main</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
  </scm>
  <builders>
    <hudson.tasks.Shell>
      <command>npm install
npm run build</command>
    </hudson.tasks.Shell>
  </builders>
</project>
